*{
    padding: 0;
    margin: 0;
}

html {
  scroll-behavior: smooth;
}

body{
    line-height: 1.4;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;
}

/* header */

header{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.navbar{
    background: rgba(0, 0, 0, 0.9);
    padding: 20px;
    Width: 100vw;
    position: fixed;
    z-index: 999;
}

.navbar-brand{
    color: #fff;
    font-size: 35px;
    display: block;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
}
.navbar-nav{
    padding: 1px 0 2px 0;
    text-align: center;
}
.navbar-nav a{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 4px 1px;
    letter-spacing: 3px;
    transition: opacity 0.3s ease;
}
.navbar-nav a:hover{
    opacity: 0.5;
}

.banner{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.banner p{
    padding: 10px;
    font-size: 25px;
    text-align: justify;
}

/* footer */
footer{
    text-align: center;
    padding: 20px;
}

.footer p{
    margin-top: 10px;
}

/* Media Queries */
@media screen and (min-width: 540px){
    .navbar-nav a{
        padding-right: 16px;
        padding-left: 12px;
    }
    .banner-title{
        font-size: 80px;
    }
    .banner form{
        margin-top: 12px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px){
    .navbar .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .search-input{
        padding: 9px;
    }
    .galery-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }
    .galery-item{
        margin: 0;
    }
    .blog-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }
}

@media screen and (min-width: 992px){
    .blog-content{
        grid-template-columns: repeat(3, 1fr);
    }
    .about-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
        align-items: center;
    }
}

@media screen and (min-width: 1200px){
    .galery-content{
        grid-template-columns: repeat(3, 1fr);
    }
}
